/* whole website itself */
:root {
    background-color: rgb(22,22,22);
    color: white;
    text-shadow: rgba(255,255,255,0.15) 0 0 15px;
}
.banner {
    background: rgb(88,88,88);
}
.rainbow {
    animation: rainbow 5s infinite linear;
}
/* Keyframes */
@keyframes rainbow {
    0% {color: red;}
    8.33% {color: orange;}
    16.66% {color: yellow;}
    25% {color: yellowgreen;}
    33.33% {color: green;}
    41.66% {color: skyblue;}
    50% {color: blue;}
    58.33% {color: indigo;}
    66.66% {color: purple;}
    75% {color: magenta;}
    83.33% {color: pink;}
    91.66% {color: lightcoral;}
    100% {color: red;}
}
.right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Ability Display */
/* Verd */
.braver {
  position: relative;
  background: firebrick;
  background-image:
  linear-gradient(90deg, rgba(178, 34, 34, 1) 0%, rgba(178, 34, 34, 0.25) 100%), 
  url("../images/Braver.png");
  background-position: center;
  background-repeat: initial;
  background-size: cover;
}
.focusedthrust {
  position: relative;
  background: firebrick;
  background-image:
  linear-gradient(90deg, rgba(178, 34, 34, 1) 0%, rgba(178, 34, 34, 1) 35%, rgba(178, 34, 34, 0.25) 85%), 
  url("../images/Focused\ Thrust.png");
  background-position: right;
  background-repeat: initial;
  background-size: auto;
}
.fireflurry {
  position: relative;
  background: firebrick;
  background-image:
  linear-gradient(90deg, rgba(178, 34, 34, 1) 0%, rgba(178, 34, 34, 0.25) 100%), 
  url("../images/Fire\ Flurry.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.grudgeslash {
  position: relative;
  background: firebrick;
  background-image:
  linear-gradient(90deg, rgba(178, 34, 34, 1) 0%, rgba(178, 34, 34, 0.25) 50%, rgba(178, 34, 34, 1) 100%), 
  url("../images/Grudge\ Slash.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fire {
  position: relative;
  background: firebrick;
  background-image:
  linear-gradient(90deg, rgba(178, 34, 34, 1) 0%, rgba(178, 34, 34, 0) 100%),
  linear-gradient(-90deg, rgba(178, 34, 34, 1) 0%, rgba(178, 34, 34, 0) 15%),  
  url("../images/Fire.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.fira {
  position: relative;
  background: firebrick;
  background-image:
  linear-gradient(90deg, rgba(178, 34, 34, 1) 0%, rgba(178, 34, 34, 0) 100%),
  linear-gradient(-90deg, rgba(178, 34, 34, 1) 0%, rgba(178, 34, 34, 0) 15%),  
  url("../images/Fira.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.placeholderimgverd {
  position: relative;
  background: firebrick;
  background-image:
  linear-gradient(90deg, rgba(178, 34, 34, 1) 0%, rgba(178, 34, 34, 0) 100%),
  url("../images/placeholder.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Mac */
.stunarrow {
  position: relative;
  background: rgb(50, 55, 60);
  background-image:
  linear-gradient(90deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0.25) 100%),
  linear-gradient(-90deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0) 25%),
  url("../images/Stun\ Arrow.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.quickstep {
  position: relative;
  background: rgb(50, 55, 60);
  background-image:
  linear-gradient(90deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0.25) 50%),  
  linear-gradient(-90deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0.25) 50%),
  url("../images/Quickstep.png");  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.spectralarcher {
  position: relative;
  background: rgb(50, 55, 60);
  background-image:
  linear-gradient(90deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0.25) 75%),
  linear-gradient(-90deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0) 75%), 
  url("../images/Spectral\ Archer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.spectralarcher2 {
  position: relative;
  background: rgb(50, 55, 60);
  background-image:
  linear-gradient(90deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0.25) 75%),
  linear-gradient(-90deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0) 75%), 
  url("../images/Spectral\ Archer2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.ricochetingarrow {
  position: relative;
  background: rgb(50, 55, 60);
  background-image:
  linear-gradient(90deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0.25) 35%),
  linear-gradient(-90deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0) 35%), 
  linear-gradient(180deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0) 35%), 
  linear-gradient(0deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0) 35%), 
  url("../images/Ricocheting\ Arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.hastysteps {
  position: relative;
  background: rgb(50, 55, 60);
  background-image:
  linear-gradient(90deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0.25) 75%),
  linear-gradient(-90deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0) 75%), 
  url("../images/Hasty\ Steps.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.placeholderimgmac {
  position: relative;
  background: rgb(50, 55, 60);
  background-image:
  linear-gradient(90deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0) 100%),
  linear-gradient(-90deg, rgba(50, 55, 60, 1) 0%, rgba(50, 55, 60, 0) 100%),
  url("../images/placeholder.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Cyto */
.bomb {
  position: relative;
  background: rgb(239, 184, 56);
  background-image:
  linear-gradient(90deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 1) 35%, rgba(239, 184, 56, 0.25) 85%), 
  url("../images/Bomb.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.slide {
  position: relative;
  background: rgb(239, 184, 56);
  background-image:
  linear-gradient(90deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 1) 35%, rgba(239, 184, 56, 0.25) 85%), 
  url("../images/Slide.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.grapplinghook {
  position: relative;
  background: rgb(239, 184, 56);
  background-image:
    linear-gradient(90deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 0.25) 35%),
    linear-gradient(-90deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 0) 35%), 
    linear-gradient(180deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 0) 35%), 
    linear-gradient(0deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 0) 35%), 
    url("../images/Grappling\ Hook.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;  
}
.pocketdust {
  position: relative;
  background: rgb(239, 184, 56);
  background-image:
  linear-gradient(90deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 0.25) 100%), 
  url("../images/Braver.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.oilslick {
  position: relative;
  background: rgb(239, 184, 56);
  background-image:
  linear-gradient(90deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 1) 35%, rgba(239, 184, 56, 0.25) 85%), 
  url("../images/Oil\ Slick.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.extendobridge {
  position: relative;
  background: rgb(239, 184, 56);
  background-image:
  linear-gradient(90deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 0.25) 85%), 
  url("../images/Extend-O-Bridge.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.concoctivebarrel {
  position: relative;
  background: rgb(239, 184, 56);
  background-image:
  linear-gradient(90deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 0.25) 35%),
  linear-gradient(-90deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 0.25) 35%), 
  url("../images/Concoctive\ Barrel.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.placeholderimgcyto {
  position: relative;
  background: rgb(239, 184, 56);
  background-image:
  linear-gradient(90deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 0) 100%),
  linear-gradient(-90deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 0) 100%),
  url("../images/placeholder.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Shelber */
.breathethepressure {
  position: relative;
  background: rgb(239, 184, 56);
  background-image:
  linear-gradient(-90deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 0) 35%),
  url("../images/Breathe\ the\ Pressure.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.reverserecall {
  position: relative;
  background: rgb(239, 184, 56);
  background-image:
  linear-gradient(-90deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 0) 20%),
  url("../images/Reverse\ Recall.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.placeholderimgshelber {
  position: relative;
  background: rgb(239, 184, 56);
  background-image:
  linear-gradient(90deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 0) 100%),
  linear-gradient(-90deg, rgba(239, 184, 56, 1) 0%, rgba(239, 184, 56, 0) 100%),
  url("../images/placeholder.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.obsolete {
  position: relative;
}
.obsolete::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(196, 0, 0,0.9);
    z-index: 0;
}
/* dont even wanna see the fonts below */

































/*===================================*/
/*===============FONTS===============*/
/*===================================*/
.saira-semi-condensed-thin {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.saira-semi-condensed-extralight {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.saira-semi-condensed-light {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.saira-semi-condensed-regular {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.saira-semi-condensed-medium {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.saira-semi-condensed-semibold {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.saira-semi-condensed-bold {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.saira-semi-condensed-extrabold {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.saira-semi-condensed-black {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}
