/* whole website itself */
:root {
    background-color: rgb(22,22,22);
    color: white;
    text-shadow: rgba(255,255,255,0.15) 0 0 15px;
}
.banner {
    background: rgb(88,88,88);
}
.rainbow {
    animation: rainbow 5s infinite linear;
}
/* Keyframes */
@keyframes rainbow {
    0% {color: red;}
    8.33% {color: orange;}
    16.66% {color: yellow;}
    25% {color: yellowgreen;}
    33.33% {color: green;}
    41.66% {color: skyblue;}
    50% {color: blue;}
    58.33% {color: indigo;}
    66.66% {color: purple;}
    75% {color: magenta;}
    83.33% {color: pink;}
    91.66% {color: lightcoral;}
    100% {color: red;}
}
/* dont even wanna see the shit below */

































/*===================================*/
/*===============FONTS===============*/
/*===================================*/
.saira-semi-condensed-thin {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.saira-semi-condensed-extralight {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.saira-semi-condensed-light {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.saira-semi-condensed-regular {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.saira-semi-condensed-medium {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.saira-semi-condensed-semibold {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.saira-semi-condensed-bold {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.saira-semi-condensed-extrabold {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.saira-semi-condensed-black {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}
